.employee-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .employee-card h2 {
    margin: 0;
  }
  
  .employee-card p {
    margin: 5px 0;
  }
  
  .employee-card a {
    color: #333;
    text-decoration: none;
  }
  .employee-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
  }
  